name: ci

on:
  workflow_dispatch:
  push:
    paths:
      - "src/**"
      - "tests/**"
      - "pyproject.toml"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
      - run: uv sync
      - run: uvx ruff check --output-format=github
      - run: uv run pytest --cov=src --cov-branch --cov-report=xml
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
